<h2>Editing Book</h2>

<%= form_with model:@books, url:'/books', method: :get do |f| %>

<h3>Title</h3>
<%= f.text_field :title %>

<h3>Body</h3>
<%= f.text_area :body %>

<%= f.submit 'Update Book' %>

<% end %>
