<h2>ようこそBookersへ！</h2>

<div class="top-content">
  <p class="top-text">Bookersでは、さまざまな書籍に関するあなたの意見や<br>
  <p><br></p>
   印象を共有し交換することができます</p>
   <p><br></p>
  <span><%= link_to "start", "/books" %></span>
</div>
